
div{
    border-style: solid;
    border-color: black;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 100px;
}

#retangulo1{
 background-color: aqua;
}

#retangulo2{
 background-color: chartreuse;   
}

#retangulo3{
    background-color: blue;
}

#retangulo4{
    background-color: brown;
}
