*{margin: 0px; padding: 0px; box-sizing: content-box;}

div{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 60vh;
}
span{
    border: 1px dotted black;
    display: flex;
    height: 10vh;
    width: 10vh;
    border-radius: 100px;

    justify-content: center;
    align-items: center;
}